// КОНТЕЙНЕР ДЛЯ СТРАНИЦЫ

.page-wrapper {
  max-width: $mobile-width;
  margin: 0 auto;

  @include tablet {
    max-width: $tablet-width;
  }

  @include desktop {
    max-width: $desktop-width;
  }
}
