.title {
  margin: 0;

  &--section {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    @include tablet {
      font-size: 34px;
      line-height: 50px;
    }

    @include desktop {
      font-size: 50px;
    }
  }

  &--light {

  }

  &--primary {
    color: $color-text-additional;
  }
}
