// ПЕРЕМЕННЫЕ

// ШРИФТЫ

$font-family-main: "Manrope", "Arial", sans-serif;

// ЦВЕТА

$color-white: #ffffff;
$color-black: #000000;
$color-text: #484848;

// РАЗМЕРЫ ЭКРАНА

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
